.navbar {
  background-color: #282c34;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  gap: 90px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: #475747;
  color: #ffffff;
}
